## Server 
/server/bin
/server/include
/server/lib
/server/lib64
/server/pyvenv.cfg
/server/share


## Client
.DS_Store
node_modules/
/client/WhiteMarket/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/client/WhiteMarket/test/unit/coverage/
/client/WhiteMarket/test/e2e/reports/
/client/WhiteMarket/config/prod.env.js
/client/WhiteMarket/config/dev.env.js
selenium-debug.log


# Editor VScode
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
